<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="<%= url_for(:controller => "view", :action => "ext4", :only_path => false) %>"/>
    <title id="page-title">Maximus Collectivus Client</title>

    <!-- <link rel="stylesheet" type="text/css" href="ext4-ui/ext-4.2.1.883/resources/css/ext-all.css" -->
    <!-- <link rel="stylesheet" type="text/css" href="ext4-ui/ext-4.2.1.883/resources/css/ext-all-neptune-debug.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="ext4-ui/ext-4.2.1.883/resources/ext-theme-neptune/ext-theme-neptune-all-debug.css"> -->
    <link rel="stylesheet" type="text/css" href="ext4-ui/ext-4.2.1.883/examples/build/KitchenSink/ext-theme-neptune/resources/KitchenSink-all.css">
    <script type="text/javascript" src="ext4-ui/ext-4.2.1.883/bootstrap.js"></script>
    <script type="text/javascript" src="ext4-ui/app_mc/app.js"></script>
  </head>
  <body>
  </body>
</html>